.recipeData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 5px;
    font-weight: 500;
  }
  
  .title {
    background-color: #fff5ee;
    color:#856088;
    text-align: center;
    margin: 5px 0;
  }
  
  .recipeData img {
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin: auto 50px;
  }
  
  .ingredients {
    height: 250px;
    font-weight: 500;
    overflow: auto;
    padding: 5px 30px;
    background-color: rgb(167, 167, 167, 0.5);
    margin: 2px 1px 10px;
    list-style-type: none;
  }
  
  .recipe {
    height: 200px;
    font-weight: 500;
    background-color: rgb(167, 167, 167, 0.5);
    padding: 10px 20px;
    overflow: auto;
  }
  
  .noData {
    text-align: center;
  }
  h3{
    margin-top: 10px;
    font-weight: 500;
    font-style: italic;
  }
  #recipe{
    text-align: center;
  }
  h1{
    font-weight: normal;
    text-shadow: 1px 1px;
  }
  .recipeContainer {
    background-color:#CBC3E3;
  }